:root{
    --body-padding-horiz: 5px;
}

body{
    padding: var(--body-padding-horiz);
    background: linear-gradient(180deg, rgba(230,240,249,1) 22%, rgba(240,248,255,1) 86%);
    background-attachment: fixed;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
}

.body-container{
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    max-width: 1350px;/*calc(100vw - 2 * var(--body-padding-horiz));*/
}

h1{
    text-align: center;
    margin-top: 7px;
}

li{
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 500;
}

ol{
    margin: 40px 0px;
}

li a{
    text-decoration: none;
    color: rgb(11, 11, 69);
}